* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

@font-face {
    font-family: font-book;
    src: url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2');
}

@font-face {
    font-family: font-medium;
    src: url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.woff2');
}
@font-face {
    font-family: font-bold;
    src: url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2');
}

body{
    font-family: font-book, font-medium, font-bold;
}
body::-webkit-scrollbar{
    display: none;
}
.header-input-padding{
    padding: 14px 24px 0 24px;
}
.header-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.5px solid rgb(0, 0, 0, 0.08);
    border-radius: 30px;
    min-height: 56px;
    min-width: 285px;
    box-shadow: 0 3px 10px rgb(0, 0, 0, 0.1);
}
.header-input-right{
    display: flex;
    align-items: center;
    flex: 1 1;
}
.header-input-search{
    padding: 0 18px 0 20px;
}
.header-input-location{
    width: 76%;
    font-family: font-book;
}
.header-input-location p{
    font-size: 14px;
    font-family: font-medium;
    color: #222222;
    margin-bottom: 1px;
}
.header-input-anywhere{
    display: flex;
    width: 97%;
    color: #717171;
}
.anywhere, .anyweek, .guests{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.header-input-anywhere span{
    font-size: 12px;
}
.dot{
    padding-inline: 5px;
}
.header-input-filter{
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 9px;
    transform: translateX(-15px);
}
.web{
    display: none;
}
.scroll-section{
    padding-inline: 24px;
}
.scroll-list{
    margin-top: 12px;
    display: flex;    
    gap: 21px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.08);
    /* box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1); */
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.scroll-list::-webkit-scrollbar{
    display: none;
}
.scroll-item{
    padding-top: 4px;
    padding-bottom: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    /* min-width: 64px; */
    opacity: 0.6;
}
.scroll-item .key{
    width: 24px;
    height: 24px;
}
.scroll-item .key-text{
    font-size: 12px;
    white-space: nowrap;
    /* letter-spacing: 0.04ch; */
    font-weight: 600;
    font-family: sans-serif;
}
.header-bottom{
    display: none;
}
.scroll-btn, .filter-btn, .filter-text{
    display: none;
}
.location-grid{
    margin-top: 24px;
    padding-inline: 24px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.location-img{
    width: 100%;
    aspect-ratio: 1/0.95;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.location-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.img-caroussel{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 4px;
}
.img-caroussel button{
    height: 6px;
    width: 6px;
    border: none;
    border-radius: 50%;
    background-color: grey;
}
.img-caroussel button:first-child{
    background-color: white;
}
.location-like{
    position: absolute;
    top: 15px;
    right: 16px;
    stroke: white;
}
.location-text{
    margin-top: 10px;
}
.text-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-header h4{
    font-size: 15px;
    color: #222222;
}
.rating{
    display: flex;
    align-items: center;
    gap: 5px;
}
.location-added, .location-date{
    font-size: 15px;
    color: rgb(113, 113, 113);
}
.rate{
    margin-top: 6px;
    font-size: 15px;
}
.rate span{
    font-weight: 600;
}
.footer-fixed{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    width: 100%;
    padding-block: 10px;
    border: 1px solid #dddddd;
}
.footer-intro{
    position: fixed;
    bottom: 63px;
    background-color: #f7f7f7;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.02ch;
    color: #222222;
}
.footer-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.footer-fixed svg{
    height: 24px;
    width: 24px;
    opacity: 0.3;
}
.footer-fixed .color{
    opacity: 1;
}
.footer-icon-text{
    font-size: 10px;
    margin-top: 4px;
}
.footer{
    display: none;
}
.map{
    display: none;
}

@media screen and (min-width:375px) {
    .header-input-filter{
        transform: translateX(-10px);
    }
    .intro-text{
        font-size: 16px;
    }
}

@media screen and (min-width:550px) {
    .location-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 24px;
        row-gap: 40px;
    }
}

@media screen and (min-width:744px) {
    .header-mobile{
        display: none;
    }
    .web{
        display: block;
        background-color: #f7f7f7;
    }
    .header-web-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header-web-top-left{
        flex: 1 1;
    }
    .header-web-top-left{
        padding-top: 23px;
        padding-bottom: 21px;
        margin-left: 40px;
    }
    .header-web-top-left .intro{
        font-size: 16px;
        line-height: 20px;
        font-family: font-medium;
        transform: translateY(-1px);
    }
    .play-img img{
        height: 30px;
        width: 53px;
        border-radius: 4px;
        margin-right: 16px;
    }
    .play-film{
        display: flex;
        align-items: center;
        font-size: 14px;
    }
    .play-img{
        padding: 4px 16px;
        display: flex;
        align-items: center;
    }
    .play-film .line{
        height: 30px;
        border-left: 1px solid #dddddd;
    }
    .explore{
        padding: 4px 16px;
    }
    .header-web-top-right{
        margin-right: 23px;
        transform: translate(-1px, 1px);
    }
    .header-bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 40px;
        height: 80px;
        position: sticky;
    }
    .airbnb-logo svg{
        color: #ff385c;
    }
    .header-bottom-left, .header-bottom-right{
        display: flex;
        align-items: center;
        flex: 1 1;
    }
    .header-bottom-left{
        flex: 1 1;
    }
    .web-logo{
        display: none !important;
    }
    .header-bottom-anywhere{
        margin-inline: 24px;
        border: 1px solid #dddddd;
        border-radius: 25px;
        padding: 6px 5px 6px 15px;
        font-size: 14px;
        line-height: 18px;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-around;
        box-shadow: 0 1px 2px rgb(0, 0, 0, 0.08), 
                    0 4px 12px rgb(0, 0, 0, 0.05);
    }
    .header-bottom-anywhere span{
        margin-inline: 5px;
    }
    .header-bottom-anywhere .bottom{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 19%;
    }
    .bottom-anywhere , .bottom-anyweek{
        font-weight: 600;
    }
    .bottom-add{
        color: #717171;
    }
    .search{
        padding: 10px;
        border-radius: 50%;
        border: none;
        background-color: #ff385c;
        stroke: white;
        margin-left: 10px;
        /* transform: translateX(2px); */
    }
    .next-line{
        height: 25px;
        width: 1px;
        background-color: rgb(221, 221, 221);
    }
    .header-bottom-right{
        justify-content: flex-end;
    }
    .login{
        display: flex;
        align-items: center;
    }
    .home{
        font-size: 14px;
        /* font-weight: 600;
        letter-spacing: 0.02ch; */
        color: #222222;
        margin-right: 11px;
        font-family: font-medium;
    }
    .globe{
        padding: 12px;
        margin-right: 9px;
        transform: translateX(1px);
    }
    .login{
        padding: 5px 5px 5px 12px;
        border: 1px solid #dddddd;
        border-radius: 25px;
        position: relative;
    }
    .login .hamburger{
        margin-right: 12px;
    }
    .account-login{
        height: 30px;
        width: 30px;
        position: relative;
    }
    .login::after{
        content: '';
        position: absolute;
        top: 0;
        right: 2px;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: #ff385c;
        border: 2px solid white;
    }
    .scroll-section{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 40px;
        position: sticky;
    }
    .scroll-list{
        padding-top: 20px;
        box-shadow: unset;
        border: none;
        width: 80%;
        gap: 29px;
    }
    .scroll-item{
        min-width: unset;
        padding-right: 10px;
        margin-right: 5px;
        gap: 8px;
        opacity: 0.6;
    }
    .scroll-option{
        display: flex;
        align-items: center;
    }
    .scroll-btn, .filter-btn, .filter-text{
        display: flex;
    }
    .scroll-btn{
        border: 0.5px solid rgb(0, 0, 0, 0.3);
        padding: 7px;
        border-radius: 50%;
        margin-top: 15px;
        margin-left: 35px;
    }
    .filter-btn{
        padding: 15px;
        border: 1px solid #dddddd;
        border-radius: 10px;
        display: flex;
        align-self: center;
        margin-left: 15px;
        margin-top: 15px;
    }
    .filter-text{
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;
        margin-left: 8px;
    }
    .location-grid{
        padding-inline: 40px;
        margin-top: 40px;
    }
    .footer-fixed{
        display: none;
    }
    .footer{
        padding: 15px 40px 14px;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #dddddd;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .footer-left, .footer-right{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .footer-left{
        font-size: 14px;
        width: 47%;
        row-gap: 2px;
    }
    .footer-dot{
        width: 19px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-right{
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.02ch;
        color: #222222;
        line-height: 18px;
        flex-wrap: nowrap;
    }
    .globe-english, .support{
        display: flex;
        align-items: center;
    }
    .globe-english svg{
        margin-right: 8px;
    }
    .globe-english .english{
        margin-right: 24px;
    }
    .inr .rupee{
        margin-right: 5px;
    }
    .inr .rupee-text{
        margin-right: 24px;
    }
    .support-up{
        margin-left: 8px;
    }
    .footer-intro{
        display: none;
    }
    .map{
        display: flex;
        align-items: center;
        position: fixed;
        bottom: 22%;
        left: 50%;
        transform: translateX(-50%);
        padding: 14px 19px;
        border: 1px solid transparent;
        background-color: rgb(34, 34, 34);
        color: white;
        border-radius: 25px;
    }
    .map .show{
        font-size: 14px;
        font-family: font-medium;
        margin-right: 8px;
    }
}

@media screen and (min-width: 768px) {
    .header-bottom-anywhere{
        width: 343px;
    }
    .home{
        margin-right: 11px;
        margin-left: 0;
    }
    .search{
        transform: translateX(2px);
    }
}

@media screen and (min-width:950px) {
    .airbnb-logo{
        flex: 1 0 140px;
    }
    .header-bottom-left{
        flex-basis: 43%;
        justify-content: space-between;
        margin-right: 10px;
    }
    .header-bottom-anywhere {
        width: 352px;
    }
    .header-bottom-anywhere .bottom {
        text-overflow: unset;
        overflow: unset;
    }
    .location-grid{
        grid-template-columns: repeat(3, 1fr);
        padding-inline: 40px;
        margin-top: 40px;
    }
}

@media screen and (min-width:1024px) {
    .footer-left{
        width: 60%;
    }
    .header-bottom-anywhere{
        transform: translateX(2px);
    }
    .map{
        bottom: 17.5%;
    }
}

@media screen and (min-width:1128px) {
    .tab-logo{
        display: none !important;
    }
    .web-logo{
        display: block !important;
    }
    .location-grid{
        grid-template-columns: repeat(4, 1fr);
        margin-top: 24px;
    }
}

@media screen and (min-width:1440px) {
    .header-web-top{
        margin-inline: 40px;
    }
    .header-web-top-left .intro{
        font-size: 20px;
        letter-spacing: -0.03ch;
    }
    .play-film{
        transform: translateX(1px);
    }
    .explore{
        letter-spacing: -0.04ch;
    }
    .header-bottom{
        padding-inline: 80px;
    }
    .header-bottom-left{
        flex-basis: 32%;
    }
    .scroll-section{
        padding-inline: 80px;
    }
    .scroll-list{
        width: 100%;
    }
    .location-grid{
        padding-inline: 80px;
    }
    .footer{
        padding-inline: 80px;
    }
}

@media screen and (min-width:1600px) {
    .header-bottom-left{
        flex-basis: 25%;
    }
}
@media screen and (min-width:1640px) {
    .location-grid{
        grid-template-columns: repeat(5, 1fr);
    }
    .header-bottom-anywhere{
        transform: translateX(-5px);
    }
    .map{
        bottom: 14.5%;
    }
}